.btn {
  cursor: pointer;
  border: none;
  border-radius: 24px;
  padding: 8px 50px;
  font-size: 1rem;
  transition: all 0.3s;
  margin-top: 32px;
  background-color: #131314;
  color: #fff;
  font-size: 1rem;
}

.btn:hover {
  background-color: #1e1f20;
}

.hint {
  margin-top: 0;
  border-radius: 16px;
  background-color: #1b1b1b;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  max-height: 0;
  padding: 0 40px;
}

.hintVisible {
  margin-top: 20px;
  opacity: 1;
  max-height: 200px;
  padding: 20px 40px;
}
