.option {
  border: 2px solid #1e1f20;
  width: 450px;
  cursor: pointer;
  text-align: left;
  font-size: 1rem;
  font-weight: normal;
  background-color: #1e1f20;
  padding: 14px;
  border-radius: 12px;
  transition: all 0.3s;
}

.option.correct {
  border: 2px solid #1aa64a;
}

.option.wrong {
  border: 2px solid #f55e57;
}

.option:hover {
  background-color: #2e2f2f;
}

.optionText {
  /* style={{ display: "flex", gap: "10px" }} */
  display: flex;
  gap: 10px;
  line-height: 1.2;
}

.text {
  line-height: 1.2;
}

.code {
  font-family: "Google Sans Flex", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0rem;
  color: #c4c7c5;
  background-color: #282a2c;
  border-radius: 6px;
  padding: 1px 6px;
}

.disc {
  line-height: 1.2;
  display: block;
  margin-top: 20px;
}
