.option {
  border: 2px solid #1e1f20;
  min-width: 450px;
  cursor: pointer;
  text-align: left;
  font-size: 1rem;
  font-weight: normal;
  background-color: #1e1f20;
  padding: 14px;
  border-radius: 12px;
  transition: all 0.3s;
}

.option.correct {
  border: 2px solid #1aa64a;
}

.option.wrong {
  border: 2px solid #f55e57;
}

.option:hover {
  background-color: #2e2f2f;
}
