.question {
  font-family: "Google Sans Flex", sans-serif;
  font-size: 1.3rem;
  margin: 16px 0px;
  font-weight: bold;
  padding: 10px 40px;
}

.optionsContainer {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
