::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

.mainContainer {
  height: 100vh;
  background-image: linear-gradient(
    rgb(145, 140, 127) 0%,
    rgb(103, 109, 146) 50%,
    rgb(6, 62, 128) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContainer header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topicContainer {
  margin-bottom: 8rem;
  display: flex;
  gap: 10px;

  background-color: rgba(34, 32, 32, 0.188);
  backdrop-filter: blur(8px);
  padding: 10px 30px;
  border-radius: 28px;
  font-size: 0.9rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.02);
}

.topicContainer ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.topicContainer ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Google Sans Flex", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0rem;
  color: #282a2c;
  background-color: #c4c7c5;
  border-radius: 6px;
  padding: 1px 6px;
}

.mainHeading {
  text-align: center;
  padding: 30px 0;
  font-size: 5rem;
}

.inputUserSetting {
  display: flex;
  flex-direction: column;
}

.inputUserSetting h2 {
  text-align: center;
  margin-bottom: 30px;
}

.inputContainer {
  position: relative;
}

.input {
  width: 100%;
  padding: 16px 24px;
  padding-right: 120px;
  border-radius: 25px;
  border: none;
  background: #ffffff2c;
  backdrop-filter: blur(4px);
  font-size: 1rem;
  color: #282a2c;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
  outline: none;
  font-size: 1rem;
}

.resultTab {
  height: 240px;
  border-radius: 25px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.startBtn {
  margin-top: 15px;
  padding: 12px 24px;
  border-radius: 100px;
  background: #ffffff;
  color: #000;
  border: none;
  font-weight: 500;
  font-size: 0.95rem;
  cursor: pointer;
  transition:
    transform 0.1s,
    opacity 0.2s;
}
